<div class="container">
    <div class="top">
        <div class="head">
            <a [routerLink]="['/']">
                <img class="logo" src="../../assets/img/zorro.svg">
                <span class="title">西瓜工作室🍉</span>
            </a>
        </div>
        <p class="desc">武林中最有影响力的《西瓜宝典》：欲练神功，挥刀自宫</p>
    </div>
    <router-outlet></router-outlet>
    <nz-footer  style="display: block;
    padding: 0 16px;
    margin: 48px 0 24px;
    text-align: center;" class="ant-layout-footer">
      <div class="links ng-star-inserted"> 
              <a href="#/" class="ng-star-inserted">帮助</a>
              <a href="#/" class="ng-star-inserted">隐私</a>
              <a href="#/" class="ng-star-inserted">条款</a>
      </div>  
     <div>xgstudio Design ©2017 Implement By Angular</div>
    </nz-footer>
</div>
